body {
    font-family: 'Fredoka One', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Color de fondo */

.fondo {
    background-color: #e6d8b8;
}

.main {
    min-height: 100vh;
}


/* Inicio de Página */

.header {
    background-color: #DFA7F3;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 60px;
    align-items: center;
}


/* Color de las letras de la página web */

.color__letras {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 25px;
    font-size: 20px;
}

.nav {
    display: flex;
}

.logo {
    display: flex;
    height: 0px;
    align-items: center;
}


/* Logo de la pagina Principal */

.logo__img {
    height: 90px;
    margin-right: 20px;
    margin-top: px;
    border-radius: 20px;
}


/* Foto del logo abajo del header */

.foto__logo {
    width: 150px;
    display: block;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
}


/* Foto de Disfruta del Sabor */

.foto__disfruta {
    display: block;
    margin: auto;
    margin-top: 50px;
    border: 5px solid;
}


/* Texto de productos destacados para ti */

.texto {
    text-align: center;
    margin-top: 50px;
}


/* Fotos de portada de la pagina INDEX */

.huevos {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px;
    padding: 50px;
}

.tarjeta__imagen {
    transition: 0.5s;
}

.tarjeta__imagen:hover {
    width: 500px;
    height: 500px;
}


/* Bordes de las imagenes de .huevos */

.tarjeta__imagen {
    margin-top: 40px;
    border: 5px solid #000000;
    border-radius: 10px;
}


/* El Footer */

.final {
    background-color: #787878;
    width: 100%;
    height: 200px;
    text-align: center;
}


/* Logos de Whattsapp/Facebook/Instagram */

.loguito {
    width: 50px;
    height: 50px;
    margin-top: 30px;
}


/* Número de telefono */

.numero {
    margin-top: 20px;
}


/* Sub titulo */

.sub__titulo {
    text-align: center;
    margin-top: 70px
}


.medio {
    display: flex;
}


/* PAGINA INDEX  CON GRID*/

.seccion {
    width: 100%;
}

.seccion__titulo {
    text-align: center;
    margin-bottom: 2rem;
}

.grid {
    border: 2px;
    padding: 1rem;
    min-height: 500px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0.5rem 1rem;

    /* Columnas */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 400px;
    
    /* Filas */
    grid-template-areas: "ele1 ele1" "ele2 ele3" "ele4 ele5";
    gap: 2rem
}

/* PAGINA SOBRE NOSOTROS*/

.about {
    height: 100vh;
    width: 100%;
    background: #e6d8b8;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.about .about-us img{
    width: 610px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}
.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}
.about-us {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.all-text h4 {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #777777;
}
.all-text h1 {
    font-size: 30px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}
.all-text p {
    font-size: 16px;
    color: #111111;
    line-height: 35px;
    margin-bottom: 35px;
}

/* IMAGENES DE LA PAGINA PRINCIPAL CON GRID */

.grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__hijo--1 {
    margin-top: 40px;
    border: 5px solid #000000;
    border-radius: 5px;
}

.grid__hijo--2 {
    margin-top: 40px;
    border: 5px solid #000000;
    border-radius: 10px;
}

.grid__hijo--3 {
    margin-top: 40px;
    border: 5px solid #000000;
    border-radius: 10px;
}

.grid__hijo--4 {
    margin-top: 40px;
    border: 5px solid #000000;
    border-radius: 10px;
}

.grid__hijo--5 {
    margin-top: 40px;
    border: 5px solid #000000;
    border-radius: 10px;
}


/* Media Querys (TABLET) */

@media screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .logo__img {
        flex-direction: column;
    }
    .color__letras {
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
        margin-top: 30px;
    }
    .huevos {
        flex-direction: column;
    }
    .imagen__contacto {
        width: 200px;
        height: 200px;
    }
}


/* Viste menores de 600px  (CELULAR)*/

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .logo__img {
        flex-direction: column;
    }
    .color__letras {
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
        margin-top: 30px;
    }
    .huevos {
        flex-direction: column;
    }
    .foto__disfruta {
        width: 50%;
    }
    .tarjeta__imagen {
        width: 200px;
        height: 200px;
    }
    .grid {
        grid-template-columns: repeat (1, 1fr);
        grid-template-rows: 200px 200px;
    }
    .imagen__contacto {
        width: 100px;
        height: 100px;
    }
    .hero {
        flex-direction: column;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1750px) {
    .huevos {
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) and (max-width: 740px) {
.foto__disfruta {
    width: 500px;
}
}

.patito {
    background-color: #DFA7F3;
}

.container {
   text-align: center;
   margin-top: 8rem;
}

.pie-pagina{
    width: 100%;
    background-color: #aa9e80;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    border-radius: 2rem;
}
.pie-pagina .grupo-1 .box h2{
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #000000;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000000;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(255, 255, 255);
}
.pie-pagina .grupo-2{
    background-color: #aa9e80;
    padding: 15px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.container{
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-bottom: 16rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: #DFA7F3;
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: rgb(255, 255, 255);
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: rgb(0, 0, 0);
   }
  form .sign_up{
    text-align: center;
    margin-top: 25px;
  }
  .sign_up a{
    color: #DFA7F3;
  }
  form a{
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
  }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: rgb(0, 0, 0);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }